body {
    height: auto;
    margin: 0;
    padding: o;
    width: 1440px;
    display: flex;
    flex-direction: column;
}
.header {
display: flex;
width: 1440px;
height: 90px;
background-color: black;
}
.headtitle {
    width: 294px;
    color: white;
    height: 50px;
    font-size: 30px;
    font-family: 'Forum', serif;    
    font-weight: 400;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 50px;
    letter-spacing: 2%;
}
.headmenu {
    width: 584px;
    height: 50px;
    margin-top: 20px;
    margin-left: 474px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.headmenu ul {
    width: 584px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    justify-content: flex-start;
    padding-inline-start: 0px;
    gap: 30px;
}
.header_text {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}
.header_text::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
}
.header_text::after {
    width: 0;
    transition: 0.3s;
  }
  .header_text:hover:after {
    width: 100%;
  }

.header img {
    width: 28px;
    height: 28px;
    margin-top: 31px;
    margin-left: 20px;
}
.welcome {
    width: 1440px;
    height: 600px;
}
.about {
    width: 1440px;
    height: 837px;
}
.about h2 {
    width: 106px;
    height: 40px;
    margin-top: 20px;
    margin-left: 667px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.about h2::after {
    content: '';
    display: block;
    background: #000;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 28px;
}
.about p {
    width: 1440px;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
}
.carousel {
    display: flex;
    overflow: hidden;
    width: 1440px;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
}
.carousel img {
    width: 450px;
    height: 560px;
    margin-left: 15px;
}
.pagination_container {
    display: flex;
    flex-direction: row;
    width: 68px;
    height: 16px;
    margin-top: 10px;
    margin-left: 686px;
}
.pagination {
    height: 26px;
    width: 26px;
    cursor: pointer;
    padding: 5px;
}
.pagination_button button{
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
}
.pagination_button button:focus {
    background-color:#BB945F;
}
.favorites {
    width: 1440px;
    height: 1439px;
}
.favorites h2 {
    width: 160px;
    height: 40px;
    margin-top: 20px;
    margin-left: 640px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.favorites h2::after {
    content: '';
    display: block;
    background: #000;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 55px;
}
.radio_title {
    width: 234px;
    height: 24px;
    padding-top: 20px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.radio_input {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 24px;
    margin-top: 25px;
    margin-left: 20px;
    justify-content: space-between;
}
.radio_button {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #000;
    outline: none;
    appearance: none;
}
.radio_button:checked {
    background-color: #000;
}
.radio_container label {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    padding-left: 20px;
}
.radio_button:checked + .radio_container label {
    font-weight: 900;
}
.favorites_items_winter {
    display: flex;
    flex-wrap: wrap;
    width: 1440px;
    height: 1150px;
}
.favorites_item1 {
    width: 590px;
    height: 555px;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
}
.favorites_item2 {
    width: 590px;
    height: 555px;
    padding-left: 220px;
    margin-top: 20px;
    position: relative;
}
.content_area {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    position: relative;
}
.staff_picks {
    height: 40px;
    font-family: 'Forum', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 40px;
    letter-spacing: 2px;
}
.staff_picks::after {
    content: '';
    display: block;
    background: #BB945F;
    width: 60px;
    height: 1px;
    margin-top: 10px;
    margin-left: 0px;
}
.book_title {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.book_describe {
    width: 355px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 20px;
    margin-left: 40px;
}
.buy_button {
    text-decoration: none;
    list-style-type: none;
    color: #000;
}
.buy_button button {
    width: 75px;
    height: 30px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Inter', serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #000;
    position: absolute;
    left: 0px;
    bottom: 10px;
}
.buy_button button:hover {
    background-color: #BB945F;
    border: none;
}
.own_button {
    text-decoration: none;
    list-style-type: none;
    color: #BB945F;
}
.own_button button {
    width: 75px;
    height: 30px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Inter', serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #BB945F;
    position: absolute;
    left: 0px;
    bottom: 10px;
    color: #BB945F;
}
.book_img1 {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.book_img2 {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: -2px;
    right: 0;
}
.coffee_shop {
    width: 1440px;
    height: 841px;
    margin-top: 20px;
    padding: 20px, 20px, 40px, 20px;
}
.coffee_shop_title {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 610px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.coffee_shop_title::after {
    content: '';
    display: block;
    background: #000;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 80px;
}
.coffee_shop_description {
    width: 1400px;
    height: 120px;
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}
.menu_section {
    width: 1400px;
    height: 520px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.coffee_tea_menu {
    width: 438px;
    height: 520px;
    margin-top: 20px;
    margin-left: 20px;
}
.deserts_cakes_menu {
    width: 482px;
    height: 520px;
    margin-top: 20px;
    left: 470px;
}
.coffee_tea_menu_title {
    width: 235px;
    height: 40px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    color:#BB945F;
}
.coffee_tea_menu_item {
    width: 438px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}
.coffee_tea_item_name{
    width: 207px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;   
}
.coffee_tea_item_name::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    position: absolute;
    top: 50%;
    left: 60%;
}
.deserts_cakes_menu_title {
    width: 235px;
    height: 40px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    color:#BB945F;
}
.deserts_cakes_menu_item {
    width: 438px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 20px;
}
.deserts_cakes_item_name{
    width: 207px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;   
}
.deserts_cakes_item_name::after {
    content: '';
    display: block;
    width: 100px;
    height: 1px;
    background-color: #BB945F;
    position: absolute;
    top: 50%;
    left: 60%;
}
.contact {
    width: 1440px;
    height: 575px;
    margin-top: 20px;
}
.contact_title {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 600px;
    font-family: 'Forum', serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.contact_title::after {
    content: '';
    display: block;
    background: #000;
    width: 50px;
    height: 1px;
    margin-top: 10px;
    margin-left: 95px;
}
.contact_data {
    width: 1,400px;
    height: 414px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact_details {
    width: 503px;
    height: 380px;
}
.map {
    width: 696px;
    height: 414px;
}
.contact_details_title {
    width: 282px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-block-start: 0em;
}
.contact_phones {
    width: 503px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 40px;
}
.contact_phone {
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    margin-top: 20px;
}
.senior_staff {
    width: 351px;
    height: 100px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.senior_staff_title {
    width: 138px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    margin-block-end: 0em;
}
.senior_staff_details {
    width: 351px;
    height: 40px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
}
.senior_staff_details_info a{
    text-decoration: none;
    color: #000;
    font-weight: 900;
}
.senior_staff_details_info a:hover {
    color:#BB945F;
}
.contact_phone:hover {
    color: #BB945F;
}